h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.section-header {
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
}
#roles-to-fill {
  display: flex;
  width: 75%; 
  background-color: lightyellow; 
  border: 1px solid black; 
  padding: 10px;
}
.btn-primary {
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(70, 70, 70);
    padding: 10px;
}s
#class-box {
    display: flex;
    gap: 20px;
    font-size: 16px;
}
#caption, #table {
    flex: 1
}
@media (max-width: 800px) {
    body {
        font-size: 12pt;
    }
    .class-info clearfix {
        width: 100%;
        height: auto;
    }
    .class-info clearfix img {
        width: 100%;    
        height: auto;   
    } /* finally figured out how to get the image to shrink and grow with the container! */
}
.class-info {
    align-items: center;
    text-align: left;
    padding: 20px;
    max-width: 1000px;
}
#footer {
    align-items: right;
} /* this doesn't seem to be working and I can't figure out why. Trying to right-align the button on the page */
body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    max-width: 1500px
}