h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.section-header {
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
}
#roles-to-fill {
  display: flex;
  width: 75%; 
  background-color: lightyellow; 
  border: 1px solid black; 
  padding: 10px;
}
.btn-primary {
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(70, 70, 70);
    padding-top: 10px;
}
@media (max-width: 800px) {
    body {
        font-size: 12pt;
    }
    .clearfix {
        width: 100%;
        height: auto;
    }
    .clearfix img {
        width: 100%;    
        height: auto;   
    } 
}
.clearfix {
    text-align: left;
    padding: 10px;
    max-width: 1250px;
} /* this clearfix container didn't really do what I was looking for it to do. I was hoping to emulate the floating image with wrapped text from the Columns Bootstrap documentation, but it doesn't look like it worked. I made do, but I would like to know what I did wrong. */
body {
    padding: 10px;
    padding-bottom: 30px;
    max-width: 1500px;
    align-items: center;
} /* it seems like I might be misunderstanding how alignment works in css. with this code I was trying to get the whole site to appear centered within the window, but it didn't do anything that I can see. */